.my-navbar {
    color: #333;
    background-color: #c8caff;
    padding: 20px;
    align-items: center;
    position: fixed;

}

.my-navbar .title {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.my-navbar .title:hover {
    color: #757575;
    cursor: pointer;
}

.github {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none !important;
}

.github:hover {
    color: #757575;
    cursor: pointer;
}

.github-logo {
    width: 30px;
    margin-left: 8px;
    text-decoration: none;
}


#body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #eaeaea;

}


h1 {
    margin-top: 130px;
    font-size: 3em;
}

h3 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 2em;
}


.preview-box {
    padding: 20px;
    margin-left: 150px;
    border-radius: 10px;
    background-color: #c8caff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.preview {
    width: 85%;
    height: 85%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.preview .proprio-name {
    font-size: 1em;
    margin: auto;
    text-align: left;
    font-weight: bold;
}

.preview .proprio-name:hover {
    color: #757575;
    cursor: pointer;
}

.preview .proprio-address {
    font-size: 0.8em;
    text-align: left;
}

.preview .proprio-address:hover {
    color: #757575;
    cursor: pointer;
}

.preview .locataire-name {
    font-size: 1em;
    margin: auto;
    text-align: right;
    font-weight: bold;
}

.preview .locataire-name:hover {
    color: #757575;
    cursor: pointer;
}

.preview .locataire-address {
    font-size: 0.8em;
    text-align: right;
}

.preview .locataire-address:hover {
    color: #757575;
    cursor: pointer;
}

.preview .month {
    margin-top: 80px;
    margin-bottom: auto;
    font-weight: bold;
}

.preview .date:hover {
    color: #757575;
    cursor: pointer;
}

.preview .periode {
    margin-top: 40px;
    text-align: left;
}

.preview .periode-elem {
    font-weight: bold;
}

.preview .periode-elem:hover {
    color: #757575;
    cursor: pointer;
}

.preview .calcul {
    margin-top: 100px;
    text-align: right;
}

.preview .prix-ht {
    text-align: right;
}

.preview .hc-tag {
    float: left;
    font-weight: normal;
}

.preview .charges {
    text-align: right;
}

.preview .charges-tag {
    float: left;
    font-weight: normal;
}

.preview .total {
    text-align: right;
}

.preview .total-tag {
    float: left;
    font-weight: normal;
}

.price-elem {
    font-weight: bold;
}

.my-input {
    margin: 0 10px;
}

.my-form {
    width: 80%;
}

.input-frame {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-frame:hover {
    border: 0.5px solid #757575;
}